[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Schachlehrer
Comment=Schach lernen: messen, spielen, diagnostizieren, üben
Icon=/usr/share/themes/base/meegotouch/icons/harbour-schachlehrer-80.png
Exec=/opt/harbour-schachlehrer/bin/harbour-schachlehrer
Categories=Game;
X-Osso-Type=application/x-executable
