[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Schachlehrer
Comment=Schach lernen: messen, spielen, diagnostizieren, üben
Icon=/usr/share/icons/hicolor/80x80/apps/harbour-schachlehrer.png
Exec=/opt/harbour-schachlehrer/bin/harbour-schachlehrer
Terminal=false
Categories=Game;
X-Osso-Type=application/x-executable
